body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

h2 {
  margin-top: 40px;
}

input, button {
  padding: 10px;
  margin: 5px;
  width: 220px;
}

button {
  background: #27ae60;
  color: white;
  border: none;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px auto;
  width: 300px;
  border-radius: 6px;
}
